

@import "font-awesome.min.css";

/* Default CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}


/* Custom CSS */
.wraper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #FFFFFF;
}

/* Header CSS */
.header {
    width: 100%;
}

.sub-header {
    float: left;
    width: 100%;
    background: #202A42;
    background: linear-gradient(to right, #27156E, #1873AA, #27156E);
    background: -webkit-linear-gradient(to right, #27156E, #1873AA, #27156E);
    background: linear-gradient(to right, #27156E, #1873AA, #27156E);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ddddb', endColorstr='#6C1219',GradientType=0);
    padding: 15px 250px;
    color: #FFFFFF;
}

.phone-number {
    float: left;
    width: 50%;
}

.email-id {
    float: right;
    width: 50%;
    text-align: right;
}

.main-header {
    float: left;
    width: 100%;
    padding: 15px 250px;
}

.logo {
    float: left;
    width: 12%;
}

.logo img {
    display: block;
    width: 90%;
}

.description {
    float: left;
    width: 78%;
    text-align: center;
}

.sanstha-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 1.42857143;
    color: #29166f;
    font-size: 15px;
}

.college-name {
    font-family: "Russo One",sans-serif;
    font-weight: bold;
    text-shadow: 2px 1px 4px rgb(197 197 197);
    color: #D74D0C;
    line-height: 35px;
    font-size: 30px;
}

.estd-info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #000000;
    line-height: 22px;
    font-size: 15px;
}

.tagline {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #29166f;
    line-height: 22px;
    font-size: 15px;
}

.founder {
    float: left;
    width: 10%;
    text-align: right;
}

.founder img {
    display: block;
    width: 100%;
    margin: 0 0 0 5%;
    background: #1E4C91;
    border-radius: 100%;
}

/* Menu Bar CSS */
.menu {
    width: 100%;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #d64c0c 0%, #d64c0c 100%) repeat scroll 0 0 !important;
    background: linear-gradient(to right, #d64c0c, #F86923, #d64c0c) !important;
    background: -webkit-linear-gradient(to right, #d64c0c, #c51c3d, #d64c0c);
    background: linear-gradient(to right, #F16622, #c51c3d, #6b1218);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ddddb', endColorstr='#6C1219',GradientType=0 );
    padding: 0 250px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    position: relative;
    float: left;
    padding: 15px;
    background: #a24a21;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0 1px 0 0;
    cursor:pointer;
    
}

.menu ul ul {
    position: absolute;
    width: 200px;
    left: 0;
    top: 100%;
    list-style: none;
    display: none;
    z-index: 2;
} 

.menu li ul li {
    float: none;
    padding: 15px;
    background: #a24a21;
    color: #FFFFFF;
    font-size: 18px;
    margin: 1px 0 1px 0;
}
.menu ul li a{
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
}

.menu ul li:hover ul {
    display: block;
    background: #FFFFFF;
   
}

.menu li a:hover {
    background: #FFFFFF;
    color: #000000;

  
}
.menu ul li li a{
    display: block;
    text-decoration: none;
}



/* Slider CSS */
.slider {
    position: relative;
    width: 100%;
    height: auto;
}

.owl-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    width: 75px;
    height: 75px;
    top: calc(50% - 75px);
    left: 5%;
    border-radius: 50%;
    background: #d8b7b7 !important;
    opacity: .5;
}

.owl-carousel .owl-nav button.owl-prev span {
   font-size: 35px;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    width: 75px;
    height: 75px;
    top: calc(50% - 75px);
    right: 5%;
    border-radius: 50%;
    background: #d8b7b7 !important;
    opacity: .5;
}

.owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
 }

.owl-dots {
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 0;
    margin: 0 auto;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
}

/* Main Content CSS */
.content {
    display: flex;
    width: 100%;
    padding: 35px 100px;
}

.collage-info {
    width: 50%;
}

.collage-info h1 {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 24px;
}

.collage-info p {
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #00000b;
    line-height: 1.7;
    font-size: 15px;
}

.our-mission {
  
    padding: 0 0 0 35px;
    margin-bottom: 10px 30px;
  
}

.our-mission-inner {
    padding: 35px 24px;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 10%);
    width: 400px;
    
}

.our-mission-inner h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.our-mission-inner p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
   padding: 10px;
}

.our-vision {
    height: 200px;
    padding: 0 0 0 35px;
    margin: 0 0 0 20px;

}

.our-vision-inner {
    position: relative;
    height: 100%;
    padding: 35px 24px;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 10%);
}

.our-vision-inner h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.our-vision-inner p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
}

/* Our Desk CSS */
.our-desks-wraper {
    width: 100%;
    padding: 35px 250px;
    background: #F2F2F2;
}

.our-desks-wraper h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
    font-size: 30px;
}

.our-desks-wraper h2::after {
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: -1px;

    content: "";
    background: linear-gradient(to right, #d64c0c, #F86923, #d64c0c) !important;
}

.our-desks-wraper h2 span {
    color: #F56621;
}

.our-desks-wraper img {
    position: relative;
    display: block;
    width: 100%;
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d7d2d2;
    margin-bottom: 17px;
    margin-right: 12px;
    margin-top: 2px;
    padding: 6px;
}

.our-desks {
    display: flex;
}

.president {
    width: 33%;
}

.ceo {
    width: 34%;
    margin: 0 35px; 
}

.principal {
    width: 33%;
}

.our-desk-content {
    background: #FFFFFF;
    padding: 20px;
    width: 300px;
    height: 500px;
}

.our-desk-content h4 {
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    font-size: 18px;
}

.our-desk-content h5 {
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    font-size: 14px;

}

.our-desk-content p {
    font-family: 'Open Sans', sans-serif;
    color: #00000B;
    line-height: 22px;
    font-size: 14px;
}

/* Our Achievements CSS */
.our-achievements-wraper {
    width: 100%;
    padding: 35px 250px;
    background: #FFFFFF;
}

.our-achievements-wraper h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
    font-size: 30px;
}

.our-achievements-wraper h2::after {
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: -1px;

    content: "";
    background: linear-gradient(to right, #d64c0c, #F86923, #d64c0c) !important;
}

.our-achievements-wraper h2 span {
    color: #F56621;
}

.our-achievements-wraper img {
    position: relative;
    display: block;
    width: 100%;
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d7d2d2;
    margin-bottom: 17px;
    margin-right: 12px;
    margin-top: 2px;
    padding: 6px;
}

.our-achievements {
    display: flex;
}

.achievement-box {
    background: #FFFFFF;
    padding: 10px;
}

.achievement-box h4 {
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    font-size: 18px;
}

.achievement-box p {
    font-family: 'Open Sans', sans-serif;
    color: #00000B;
    line-height: 22px;
    font-size: 14px;
}

/* Footer CSS */
.footer {
    display: flex;
    width: 100%;
    padding: 35px 250px;
    background: #222222;
} 

.contact-us {
    width: 33%;
    color: #FFFFFF;
}

.contact-us h4 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
}

.contact-us h4::after {
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -1px;
    left: 0;
    
    content: "";
    background: linear-gradient(to right, #d64c0c, #F86923, #d64c0c);
}

.contact-us p {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 14px;
}

.contact-us ul {
    margin: 8px 0 0 12px;
}

.contact-us ul li {
    color: #FFFFFF;
    line-height: 25px;
    font-size: 15px;
    
}

.useful-links {
    width: 34%;
    margin: 0 35px;
}

.useful-links h4 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
}

.useful-links h4::after {
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -1px;
    left: 0;
    content: "";
    background: linear-gradient(to right, #d64c0c, #F86923, #d64c0c);
}

.useful-links ul {
    list-style-type: none;
}

.useful-links ul li {
    position: relative;
    margin: 5px 0;
    padding-left: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

.useful-links li::before {
    content: "\f101";
    font-family: fontawesome;
    font-size: 12px;
}

.useful-links ul li::before {
    position: absolute;
    left: 0;
    top: 1px;
    margin-right: 10px;
    padding: 0;
    border: none;
    display: inline-block;
    content: "\f111";
    font-family: fontawesome;
    color: #a9a9a9;
    font-size: 9px;
    
    
}

.quick-contacts {
    width: 33%;
}

.quick-contacts h4 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
}

.quick-contacts h4::after {
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -1px;
    left: 0;
    content: "";
    background: linear-gradient(to right, #d64c0c, #F86923, #d64c0c);
}

.form-group {
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 14px;
}

.form-group input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    color: #555555;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.form-group textarea {
    display: block;
    width: 100%;
    height: 75px;
    padding: 6px 12px;
    color: #555555;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.form-group button {
    display: inline-block;
    padding: 3px 14px;
    background-image: linear-gradient(to right, #F86923 50%, #d64c0c 100%) !important;
    border: 1px solid transparent;
    border-radius: 3px;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 11px;
    cursor: pointer;
}

.bba-info {
    padding: 30px;
    margin: 30px;
}

.list-bba li{
    list-style: none;
    font-size: large;
    margin: 10px;
}

ul li {
    list-style: none;
    margin: 10px;
    font-size: large;
}
.map iframe {
    height: 50vh;
    width: 100%;
}

.list-art {
    display: flex;
   
} 